body {
    background-color: #d9d2e9;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("images/backgroundweb.jpg");
    background-size: cover;
}

.jumbotron h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ff6422;
    font-size: 5em;
    margin: 0;
}

.jumbotron h2 {
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #595959;
    font-size: 3em;
    margin: 0 0 2em;
}

.title-display {
    margin: 5em;
    padding: 3em;
    box-sizing: border-box;
    background: #ffffff;
    border: dotted #000000;
}
