body {
    font-family: 'Wendy One', sans-serif;
}

header {
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-align: center;
    padding: 2em;
}

.image-one {
    text-align: center;
}

.image-two {
    text-align: center;
}

.image-three {
    text-align: center;
}

.about {
    text-align: center;
}
