body {
    font-family: 'Wendy One', sans-serif;
}

header {
    margin: 0;
}

header nav {
    display: inline;
    justify-content: center;
}

header p {
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.image-one {
    text-align: center;
    padding-top: 2em
}

.image-two {
    text-align: center;
}

.image-three {
    text-align: center;
}

.about {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
}
