body {
    font-family: 'Wendy One', sans-serif;
    background-color: #FF8F00;
}

header {
    margin: 0;
}

header .row {
  display: flex;
  justify-content: center;
}

header nav {
    display: flex;
    justify-content: center;
}

header p {
    font-size: 1.5em;
    padding: 4em;
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1em;
}

.image-one {
    text-align: center;
    padding-top: 2em;
}

.image-two {
    text-align: center;
}

.image-three {
    text-align: center;
}

.about {
    text-align: center;
    padding-top: 10em;
    padding-bottom: 2em;
}
