/* for card layout */
body{
    background-color: #bdb8c7;
}

.gallery-row {
    margin-bottom: 2rem;
}


/* for small text box in portfolio page*/
.card-body {
    background-color: white;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

/* START */

.container img {
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 1.5em;
    border: 1.5em solid #ffa27a;
    background-color:#021a40;
}

/*
.image-one {
    max-width: 100%;
    height: auto;
    padding:1em;
    border:1em solid #ffa27a;
    background-color:#021a40;
}
*/

.girl-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin: 2em;
}

.image-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
}

.title-display {
    margin: 5em 1em 1em 1em;
    padding: 1em;
    box-sizing: border-box;
    background: #ffa27a;
    display: flex;
}

.display-text {
    padding: .5em;
    margin: 1em 1em 5em 1em;
    box-sizing: border-box;
    background: #ffa27a;
    display: flex;
}


.nav-name {
    font-family: 'Montserrat', sans-serif;
    color: #ff6422;
}