/* for card layout */
body{
    background-color: #bdb8c7;
}

.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}
.blue-text {
    color: white;
    text-align: center;
}