/* for card layout */
body{
    background-color: #bdb8c7;
}

.gallery-row {
    margin-bottom: 2rem;
}


/* for small text box in portfolio page*/
.card-body {
    background-color: white;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

/* START */

.container img {
    max-width: 100%;
    height: auto;
    padding: 1.5em;
    border: 1.5em solid #ffa27a;
    background-color:#021a40;
}

.container .girl-image {
    text-align: center;
}

.container .image-test {
    text-align: center;
}

.display-text {
    padding: .5em;
    margin: 1em 1em 5em 1em;
    box-sizing: border-box;
    background: #ffa27a;
    display: flex;
}

.girl-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin: 2em;
}

.title-display {
    margin: 5em 10em 1em 10em;
    padding: 1em;
    box-sizing: border-box;
    background: #ffa27a;
    display: flex;
}

.image-title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
    font-size: 3vw;

}

.nav-name {
    font-family: 'Montserrat', sans-serif;
    color: #ff6422;
}