{{ range $idx, $proj:= (.Scratch.Get "elements") }}
    {{ with $.Site.GetPage $proj }}
    <div class="jumbotron scrolling-layout-row">
        <div class="container">
            <div class="row">
                {{ $img:= .Resources.GetMatch .Params.projectImage }}
                {{ $imgThumb := $img.Resize "x400" }}
                {{/*  Resizes and crops the project image to 400 X 400 so that we get a perfect square which loads quickly  */}}
                <div class="col-sm-9">
                    {{ if $imgThumb }}
                        <img class="img-fluid scrolling-layout-project-image" src="{{ $imgThumb.RelPermalink }}" alt="...">
                    {{ end }}
                </div>
                <div class="col-sm-3">
                    <div class= "card-body">
                    <a href="{{ .RelPermalink }}" class="stretched-link">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.shortDescription }}</p>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{/*  <h2>{{ .Title }}</h2>
        <p>{{ .Params.shortDescription }}</p>
        {{ $img:= .Resources.GetMatch .Params.projectImage }}  */}}
        {{/*  .Params.projectImage is just the name of the file, but it isn't the file itself and also 
        doesn't tell us exactly where the file is. Instead of hardcoding the path, we use GetMatch to find the path  */}}
        {{/*  GetMatch returns the very first thing it finds when searching so don't have more than one file with the same name  */}}
        {{/*    */}}
        {{/*  <img src="{{ $img.RelPermalink }}" />  */}}

        
    {{ end }}
{{ end }}

<div class="container">
    <div class="row">
        <div class="col-sm-12 about-display">
            <h1 class= "about-title">About Me</h1>
            <p class= "about-text">Coming from a background in which three cultures — Mixtec, Mexican, and American
                —have dominated my life, media on screen has been a meeting point for all three. 
                With the determination to learn Spanish fast and easy, my parents turned to film 
                and television. Together we turned to black and white Mexican films, and have 
                since been fascinated with images and storytelling.
                <br>
                <br>My work is another language I’m still learning. I make promotional videos 
                for Aggie Studios and aim to thread together a clear storyline through editing. With my work in graphic design, I make pieces inspired by the Mixtec or Mexico.. Each work, though for promotional or for pure artistic purposes, comes with the idea that visual design can transcend the limits of spoken language.
            </p>
     </div>
</div>